<template>
    <div class="ArticleP">
        <x-header>    </x-header>
        <div class="content">
        <h3>{{article.title}} </h3>
        
            <span>{{times}} </span>
        <p>{{article.content}} </p>
        <div class="like">
          
                 <a v-if="islike" > <i style="color:red" class="fa fa-thumbs-up"></i></a> 
          <a v-else @click="like" href=""> <i  class="fa fa-thumbs-o-up"></i></a> 
        <a v-if="isdislike"  > <i style="color:red" class="fa fa-thumbs-down"></i></a>
       <a v-else @click="dislike" href=""> <i  class="fa fa-thumbs-o-down"></i></a>
            
            <!-- <div>
                 <a v-if="islike" @click="like" href=""> <i style="color:red" class="fa fa-thumbs-up"></i></a> 
          <a v-else @click="like" href=""> <i  class="fa fa-thumbs-o-up"></i></a> 
        <a v-if="isdislike" @click="dislike" href=""> <i style="color:red" class="fa fa-thumbs-down"></i></a>
       <a v-else @click="dislike" href=""> <i  class="fa fa-thumbs-o-down"></i></a>
            </div> -->
       
        <div class="likeNum">
            <span>{{article.likes_num}}赞</span>
            <span>{{article.dislikes_num}}踩</span>
        </div>
        <h5>最新评论</h5>
        <div> {{reply}} </div>
        <group>
        <x-switch title="transparent " v-model="show7"></x-switch>
      </group>
      <a @click="shows" href="">评价</a>
      </div>
      <div  >
        <popup v-model="show7" height="270px" is-transparent>
          <div style="width: 95%;background-color:#fff;height:250px;margin:0 auto;border-radius:5px;padding-top:10px;">
           <group>
        <x-textarea v-model="replyContent" :height="60" :max="200" name="description" placeholder="内容"></x-textarea> 
      </group>
           <div style="padding:20px 15px;">
            <x-button @click.native="submitForm($event)" type="primary">评论</x-button>
            <x-button @click.native="show7 = false">取消</x-button>
           </div>
          </div>
        </popup>
        </div>
       </div>
       <alert v-model="show" :title="title"  @on-show="onShow" @on-hide="onHide">
          {{content}}
        </alert>
        
    </div>
  </template>
  
  <script>
  import { XHeader , Group ,Cell ,XButton,XTextarea ,XSwitch,Box,Popup  ,Alert} from 'vux'
  import moment from 'moment'
  export default {
    data:function(){
        return{
            article:'',
            times:'',
            islike:false,
            isdislike:false,
            show7: false,
            replyContent:'',
            show: false,
        title:'',
        content:'',
        success:false,
        reply:''
        }
    },
    methods:{
        submitForm:function(event){
            var that = this;
        event.preventDefault();
        this.$axios.post('/lol/reply',{article_id:that.article._id,replyContent:that.replyContent}).then(function(result){
            console.log(result);
            if(result.data.error == 0){
                that.success = true
            that.title = '成功'
            that.content = result.data.message
            that.show =true;
        
            }else{
              
            that.title = '发布失败'
            that.success = false
            that.content = result.data.message
            that.show =true;
            that.articleTitle = ''
            that.articleContent = ''
            }
        }).catch(function(err){
            console.log(err);
        })
        },
        shows:function(ev){
          var that = this;
           ev.preventDefault();
           this.show7 = true
            },
          dislike:function(ev){
            var _id = this.$route.params
             var that = this;
        ev.preventDefault();
        this.$axios.post('/lol/dislike',_id).then(function(result){
            console.log(result);
            if(result.data.error == 0){
            that.article = result.data.message
            that.isdislike = true
            }
        }).catch(function(err){
            console.log(err);
        })
        },
        like:function(ev){
            var _id = this.$route.params
             var that = this;
        ev.preventDefault();
        this.$axios.post('/lol/like',_id).then(function(result){
            console.log(result);
            if(result.data.error == 0){
            that.article = result.data.message
             that.islike = true
            }
        }).catch(function(err){
            console.log(err);
        })
        },
        onHide () {
        console.log('on hide')
        if(this.success){
          location.reload();
        }
      },
      onShow () {
        console.log('on show')
  
      },
    },
    mounted:function(){
        //  日期格式化工具
        this.islike =false
         this.isdislike=false
  const moment = require('moment');
  
  // 设置全局语言  -- 使用中文
  moment.locale('zh-cn');
         $(".tabbar").css("margin-left", "320px");
        var that = this
      //   console.log(this.$route.params);
        var _id = this.$route.params
        this.$axios.post('/lol/articleOne',_id).then(function(result){
          
            if(result.data.error == 0){
                that.reply = result.data.reply
                that.article = result.data.message
                let time = moment(that.article.create_time).fromNow();
                that.times = time
              //   console.log(result.data.session)
                result.data.message.likes.forEach(function(element) {
                    if(element == result.data.session){
                        that.islike = true
                    }
                });
                result.data.message.dislikes.forEach(function(element) {
                    
                    if(element == result.data.session){
                        that.isdislike = true
                    }
                });
              //   if(result.data.message)
            }
        }).catch(function(err){
            console.log(err);
        })
  
    },
    components: {
      XHeader,
      Group,
      Cell,
      XButton,
      Box,
      Alert,XSwitch,Popup,XTextarea 
    },
    
  //   mounted:function(){
  //       var that = this;
      //  
  //   }
  }
  </script>
  
  <style scoped>
  
  .ArticleP{
      
  }
  .ArticleP .content{
  padding: 15px;
  }
  .ArticleP h3{
      font-weight: 400;
      font-size: 20px;
  }
  .ArticleP .content>span{
      display: block;
      width: 100%;
      text-align: right;
      color: #999;
      margin: 15px 0  20px 0;
      font-size: 13px;
  }
  .ArticleP .content>p{
      color: #444;
  }
  .ArticleP .like{
      overflow: hidden;
      margin-top: 30px;
  }
  .ArticleP .like  a{
      display: block;
      color: #888;
      float: left;
      /* width: 50%; */
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 1px #ccc;
      text-align: center;
      margin-left: 70px;
  }
  .ArticleP .like a i{
      font-size: 22px;
      line-height: 40px;
      text-align: center;
  }
  .ArticleP .like .likeNum{
      font-size: 12px;
      width: 100%;
      overflow: hidden;
  }
  .ArticleP .like .likeNum span{
      float: left;
      margin-left: 80px;
      display: block;
  }
  .ArticleP .like .likeNum span:last-child{
        margin-left: 95px;
  }
  </style>
<template>
    <div class="ArticleP">
      <x-header> </x-header>
      <div class="content">
        <h3>{{article.title}} </h3>
  
        <span>{{times}} </span>
        <p>{{article.content}} </p>
        <div class="like">
  
          <a v-if="islike">
            <i style="color:red" class="fa fa-thumbs-up"></i>
          </a>
          <a v-else @click="like" href="">
            <i class="fa fa-thumbs-o-up"></i>
          </a>
          <a v-if="isdislike">
            <i style="color:red" class="fa fa-thumbs-down"></i>
          </a>
          <a v-else @click="dislike" href="">
            <i class="fa fa-thumbs-o-down"></i>
          </a>
  
          <!-- <div>
                   <a v-if="islike" @click="like" href=""> <i style="color:red" class="fa fa-thumbs-up"></i></a> 
            <a v-else @click="like" href=""> <i  class="fa fa-thumbs-o-up"></i></a> 
          <a v-if="isdislike" @click="dislike" href=""> <i style="color:red" class="fa fa-thumbs-down"></i></a>
         <a v-else @click="dislike" href=""> <i  class="fa fa-thumbs-o-down"></i></a>
              </div> -->
  
          <div class="likeNum">
            <span>{{article.likes_num}}赞</span>
            <span>{{article.dislikes_num}}踩</span>
          </div>
          <h5>最新评论</h5>
          <div> {{reply}} </div>
          <group>
            <x-switch title="transparent " v-model="show7"></x-switch>
          </group>
          <a @click="shows" href="">评价</a>
        </div>
        <div>
          <popup v-model="show7" height="270px" is-transparent>
            <div style="width: 95%;background-color:#fff;height:250px;margin:0 auto;border-radius:5px;padding-top:10px;">
              <group>
                <x-textarea v-model="replyContent" :height="60" :max="200" name="description" placeholder="内容"></x-textarea>
              </group>
              <div style="padding:20px 15px;">
                <x-button @click.native="submitForm($event)" type="primary">评论</x-button>
                <x-button @click.native="show7 = false">取消</x-button>
              </div>
            </div>
          </popup>
        </div>
      </div>
      <alert v-model="show" :title="title" @on-show="onShow" @on-hide="onHide">
        {{content}}
      </alert>
  
    </div>
  </template>
  
  <script>
    import {
      XHeader,
      Group,
      Cell,
      XButton,
      XTextarea,
      XSwitch,
      Box,
      Popup,
      Alert
    } from 'vux'
    import moment from 'moment'
    export default {
      data: function () {
        return {
          article: '',
          times: '',
          islike: false,
          isdislike: false,
          show7: false,
          replyContent: '',
          show: false,
          title: '',
          content: '',
          success: false,
          reply: ''
        }
      },
      methods: {
        submitForm: function (event) {
          var that = this;
          event.preventDefault();
          this.$axios.post('/lol/reply', {
            article_id: that.article._id,
            replyContent: that.replyContent
          }).then(function (result) {
            console.log(result);
            if (result.data.error == 0) {
              that.success = true
              that.title = '成功'
              that.content = result.data.message
              that.show = true;
  
            } else {
  
              that.title = '发布失败'
              that.success = false
              that.content = result.data.message
              that.show = true;
              that.articleTitle = ''
              that.articleContent = ''
            }
          }).catch(function (err) {
            console.log(err);
          })
        },
        shows: function (ev) {
          var that = this;
          ev.preventDefault();
          this.show7 = true
        },
        dislike: function (ev) {
          var _id = this.$route.params
          var that = this;
          ev.preventDefault();
          this.$axios.post('/lol/dislike', _id).then(function (result) {
            console.log(result);
            if (result.data.error == 0) {
              that.article = result.data.message
              that.isdislike = true
            }
          }).catch(function (err) {
            console.log(err);
          })
        },
        like: function (ev) {
          var _id = this.$route.params
          var that = this;
          ev.preventDefault();
          this.$axios.post('/lol/like', _id).then(function (result) {
            console.log(result);
            if (result.data.error == 0) {
              that.article = result.data.message
              that.islike = true
            }
          }).catch(function (err) {
            console.log(err);
          })
        },
        onHide() {
          console.log('on hide')
          if (this.success) {
            location.reload();
          }
        },
        onShow() {
          console.log('on show')
  
        },
      },
      mounted: function () {
        //  日期格式化工具
        this.islike = false
        this.isdislike = false
        const moment = require('moment');
  
        // 设置全局语言  -- 使用中文
        moment.locale('zh-cn');
        $(".tabbar").css("margin-left", "320px");
        var that = this
        //   console.log(this.$route.params);
        var _id = this.$route.params
        this.$axios.post('/lol/articleOne', _id).then(function (result) {
  
          if (result.data.error == 0) {
            that.reply = result.data.reply
            that.article = result.data.message
            let time = moment(that.article.create_time).fromNow();
            that.times = time
            //   console.log(result.data.session)
            result.data.message.likes.forEach(function (element) {
              if (element == result.data.session) {
                that.islike = true
              }
            });
            result.data.message.dislikes.forEach(function (element) {
  
              if (element == result.data.session) {
                that.isdislike = true
              }
            });
            //   if(result.data.message)
          }
        }).catch(function (err) {
          console.log(err);
        })
  
      },
      components: {
        XHeader,
        Group,
        Cell,
        XButton,
        Box,
        Alert,
        XSwitch,
        Popup,
        XTextarea
      },
  
      //   mounted:function(){
      //       var that = this;
      //  
      //   }
    }
  
  </script>
  
  <style scoped>
    .ArticleP {}
  
    .ArticleP .content {
      padding: 15px;
    }
  
    .ArticleP h3 {
      font-weight: 400;
      font-size: 20px;
    }
  
    .ArticleP .content>span {
      display: block;
      width: 100%;
      text-align: right;
      color: #999;
      margin: 15px 0 20px 0;
      font-size: 13px;
    }
  
    .ArticleP .content>p {
      color: #444;
    }
  
    .ArticleP .like {
      overflow: hidden;
      margin-top: 30px;
    }
  
    .ArticleP .like a {
      display: block;
      color: #888;
      float: left;
      /* width: 50%; */
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: solid 1px #ccc;
      text-align: center;
      margin-left: 70px;
    }
  
    .ArticleP .like a i {
      font-size: 22px;
      line-height: 40px;
      text-align: center;
    }
  
    .ArticleP .like .likeNum {
      font-size: 12px;
      width: 100%;
      overflow: hidden;
    }
  
    .ArticleP .like .likeNum span {
      float: left;
      margin-left: 80px;
      display: block;
    }
  
    .ArticleP .like .likeNum span:last-child {
      margin-left: 95px;
    }
  
  </style>
    